# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# -----------------------
# Virtual environments
# -----------------------
.venv/
venv/
ENV/
env/
.venv.bak/

# -----------------------
# Poetry
# -----------------------
.poetry/
.poetry_cache/
.pypoetry/
.cache/
poetry.lock

# -----------------------
# IDEs & Editors
# -----------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------
# OS
# -----------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------
# Tests & Coverage
# -----------------------
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/
